*{
    margin:0;
    padding:0;
}
header{
    width:100%;
    height:100px;
    background-color:white;
    box-shadow:0px 0px 12px black;
    position:fixed;
    z-index:1;
}
header button{
    background:none;
    width:140px;
   padding:10px;
   float:right;
   outline:none;
   margin:30px 20px 0px 0px;
    border:none;
    font-size:18px;
    box-shadow:0px 0px 8px whitesmoke;
    font-family:courier;
    font-weight:bold;
    transition:1s;
}
header button:hover{
    color:#07689f;
    box-shadow:0px 0px 15px silver;

}
header img{
    width:100px;
    height:90px;
    float:left;
    margin:5px 0px 0px 20px;
}
#lolo{
    width:100%;
    height:650px;
    margin-top:2px;
}
marquee{
    color:blueviolet;
    font-size:38px;
    font-family:sans-serif;
    width:400px;
    height:200px;
    position:absolute;
    top:130px;
    left:500px;
    text-align:center;
  

}
span{
    color:red;
    font-size:45px;
    font-style: italic;
}
aside{
    width:13%;
    height:400px;
    background-color:white;
    float:right;
    margin-top:-4px;
}

aside button{
    width:100%;
    height:50px;
    background:none;
    outline:none;
    font-size:18px;
    font-weight:bold;
    border:none;
    border-bottom:1px solid #407088;
    border-left:1px solid #407088;
    transition:1s;
}
aside button:hover{
    color:white;
    background:#ff4b5c
    
}
main{
    width:87%;
    height:500px;
    background:white;
    margin-top:-4px;
    float:left;
}
main img{
    width:400px;
    height:150px;
    margin-top:20px;

}
main h2{
    font-size:35px;
    font-weight:bold;
    margin-top:2px;
    padding:5px;
    color:darkblue;
    background-color: violet;

}
main p{
    margin-top:30px;
    color:grey;
    font-size:25px;
    font-weight:bold;
}
#maro{
    float:left;
    width:100%;
    text-align:center;
}
#dl{
    width:274px;
    height:390px;
    font-size:18px;
    border:1px solid black;
    font-weight:bold;
    box-shadow:1px 1px 12px gray;
    margin-left:100px;
    float:left;
    background:aquamarine;
    padding:10px;
    margin-bottom:50px;
    
}
footer{
    width:100%;
    height:300px;
    background-color:black;
    margin-top:1300px;
    clear:both;
    margin-bottom:0px;
    box-shadow:0px 0px 40px black;
   
}
footer div{
    font-size:18px;
    color:red; 
    margin-top:10px;
    margin-left:75px;
    text-align:left;
    float:left;
}
footer div a{
    color:white;
    text-decoration:none;
}
footer div a:hover{
    color:red;
}
footer #logo{
    width:20%;
    height:50px;
    text-align:left;
    margin-left:30px;
    margin-top:30px;
    float:left;
    padding:5px;
}
footer div p{
    padding:10px;
    margin-top:10px;
    font-weight:bold;
    color:red;
    text-align:center;
    font-size:22px;
}
footer p span{
    color:blue;
}
footer .b{
    margin:20px;
}
footer .c{
    margin:20px;
}